.switchWrapper {
  position: relative;
  @keyframes moveUp {
    0% {top: 2000px;}
    100% {top: 0px;}
  }

  > :first-child ~ * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: moveUp .7s ease-in-out;
  }
}
